body{
    margin: 0;
    font-family: Arial, sans-serif;
}

.hdr{
display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 52px;
    background: white;
}

.lgo{
    color: #009999;
}

.mnu a{
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

.main-img{
    position: relative;
    height: 70vh;
}

.main-img img{
    width: 2048px;
    height: 300px;
   
}



.search input{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
}

.search button{
    padding: 10px;
    border: none;
    background: #009999;
    color: white;
    
}


.glly{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.box{
    box-shadow: 0 0 8px gray;
}

.box img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.box p{
    padding: 10px;
}


.footer{
    background: #f2f2f2;
    padding: 60px 80px 20px;
    font-family: Arial, sans-serif;
}

.footer-box{
    display: flex;
    justify-content: space-between;
}


.footer-col{
    width: 30%;
}

.footer-col h3{
    margin-bottom: 15px;
}

.footer-col p{
    line-height: 1.6;
    color: #555;
}

.footer-col ul{
    list-style: none;
    padding: 0;
}

.footer-col ul li{
    margin-bottom: 10px;
}

.footer-col a{
    text-decoration: none;
    color: #333;
}
.scl{
    margin-bottom: 15px;
}

.scl a{
    display: inline-block;
    width: 35px;
    height: 35px;
    background: white;
    text-align: center;
    line-height: 35px;
    margin-right: 8px;
    border-radius: 3px;
    font-weight: bold;
}

.footer-bottom{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    color: #555;
    font-size: 14px;
}

.search-bar-overlay input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 250px;
}

.search-bar-overlay button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
